.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


.App-header {
    background-color: #dbdbdb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(34, 33, 33);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.home {
    height: 85vh;
    
}

.add {
    height: 80vh;
    
}

.btn-user {

    min-width: 6em;
    min-height: 4em;
}

.particles{
    position:absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.account{
    z-index: 2;
}

